body {
    font-size: 14px;
    /* font-family: sans-serif; */
    background: rgb(235, 234, 234);
}

div.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1.header {
    font-size: 100px;
    font-weight: bold;
    font-family: sans-serif;
}
