.grid {
  display: grid;
}

.header-landing {
  position: fixed;
  min-height: 10vh;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 1;

  .nav-landing {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-items {
    display: flex;
    justify-content: space-around;
    font-size: calc(1em + 0.5vw);
    font-weight: bold;
    font-family: "Nunito", sans-serif;

    .nav-item {
      width: 139px;
      height: 41px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      background-color: #2e2b55;
      border-radius: 10px;
      margin-left: 30px;
    }
  }
}

.first {
  width: 100vw;
  height: 100vh;
  // background-position: top left;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero {
  margin-left: 9vw;
}

.heading {
  font-size: calc(1em + 3vw);
}

.sub-heading {
  font-size: calc(1em + 2vw);
}

.img-container {
  margin-top: 300px;
  padding-right: 9vw;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    font-size: 20px;
  }

  input {
    font-size: 25px;
  }
}
